body {
  background-color: #011d24;
}

#card-header {
  background-color: #011d24;
  color: aliceblue;
}

#card-body {
  background-color: #011d24;
  color: aliceblue;
}

#card-footer {
  background-color: #011d24;
  color: aliceblue;
}
